* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    border-bottom: 1px solid #e6e6e6;
    line-height: 60px;
}

p {
    line-height: 20px;
}

.mapboxgl-popup-close-button:hover {
    outline: none;
}

.mapboxgl-popup-close-button {
    margin: 6px 8px 0 0;
    width: 15px;
    outline: none;
}

.map-title {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    background-color: rgb(27, 29, 31);
    color: #fff;
    text-align: center;
    padding: 20px;
}

#map {
    width: 100%;
    height: 1024px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #888;
}

.loading {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

.loading span {
    text-align: center;
    font-size: 20px;
}